.TodoItem {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #4d4d4d;
  padding: 10px 5px;
  border-bottom: 1px solid #bebebe;
  display: flex;
}

.TodoItem:last-child {
  border-bottom: none;
}

.TodoItem > p {
  margin: 0;
}

.TodoItem-complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.TodoItem img {
  width: 32px;
  height: 32px;
  padding: 0 20px 0 10px;
}
